@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    background-color: black;
    color: white;
}

/* headings */
h1, h2, h3 {
    text-transform: uppercase;
}

/* header, logo and navigation */
header {
    position: relative;
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 139, 0.5);
}

header a {
    text-decoration: none;
    color: white;
}

#logo {
    position: absolute;
    top: 2px;
    left: 4px;
    font-size: 125%;
}

#menu {
    position: absolute;
    bottom: 2px;
    left: 4px;
    font-size: 75%;
}

#menu li {
    display: inline;
    padding-right: 4px;
}

/* hero images */
#hero-image {
    height: 400px;
    width: 100%;
    background: url(../images/chess.webp) no-repeat center;
}

/* Welcome */
#welcome {
    position: absolute;
    top: 375px;
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 139, 0.5);
    text-align: right;
}

#welcome h2 {
    padding-right: 4px;
    padding-bottom: 5px;
    font-size: 120%;
}

#welcome p {
    padding-right: 4px;
}

/* club goals */
#goals h2 {
    padding-left: 4px;
    padding-bottom: 5px;
    font-size: 120%;
}

#goals p {
    padding-left: 4px;
    padding-bottom: 10px;
}

#goals-games {
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 139, 0.5);
}

#goals-social {
    height: 100px;
    width: 100%;
    text-align: right;
}

#goals-skills {
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 139, 0.5);
}

/* footer */
footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 139, 0.5);
}

footer a {
    text-decoration: none;
    color: white;
}

#social {
    padding-right: 10px;
    position: absolute;
    bottom: 4px;
    right: 0;
    font-size: 100%;
}

#social li {
    display: inline;
    padding-right: 10px;
}

/* responsive design - medium 640px - 1007px*/
@media screen and (min-width: 640px) {
    #goals-games {
        height: 100px;
        width: 60%;
        margin: 0 10%;
        background-color: rgba(0, 0, 139, 0.5);
    }
    
    #goals-social {
        height: 100px;
        width: 60%;
        margin: 0 30%;
        text-align: right;
    }
    
    #goals-skills {
        height: 100px;
        width: 60%;
        margin: 0 10%;
        background-color: rgba(0, 0, 139, 0.5);
    }
}