@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
}

/* headings */
h1, h2 {
    text-transform: uppercase;
}

/* header, logo and navigation */
header {
    background-color: black;
    position: relative;
    min-height: 60px;
    width: 100%;
}

header a {
    text-decoration: none;
    color: white;
}

#logo {
    padding-left: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 225%;
}

#menu {
    padding-right: 10px;
    position: absolute;
    bottom: 4px;
    right: 0;
    font-size: 100%;
}

#menu li {
    display: inline;
    padding-right: 10px;
}

/* Welcome */
#intro {
    position: absolute;
    top: 375px;
    left: 45%;
    background-color: rgba(0, 0, 139, 0.5);
    color: white;
    width: 50%;
}

#intro h2 {
    margin-left: 10px;
    font-size: 150%;
}

#intro p {
    margin-left: 10px;
    font-size: 100%;
}

/* hero images */
#hero-image {
    position: relative;
    height: 400px;
    width: 100%;
    background-color: black;
}

#hero-image-left {
    float: left;
    width: 50%;
    height: 100%;
}

#hero-image-left img {
    width: 100%;
    height: 100%;
}

#hero-image-right {
    float: right;
    width: 50%;
    height: 100%;
}

#hero-image-right img {
    width: 100%;
    height: 100%;
}

/* club goals */
#goals {
    height: 400px;
    width: 100%;
    position: relative;
    background: url(../images/game-zone.jpg) center no-repeat black;
    color: white;
}

#goals-text-left {
    float: left;
    height: 100%;
    width: 50%;
}

#goals-text-right {
    float: right;
    height: 100%;
    width: 50%;
    text-align: right;
}

/* footer */
footer {
    background-color: black;
    position: relative;
    min-height: 60px;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: white;
}

#social {
    padding-right: 10px;
    position: absolute;
    bottom: 4px;
    right: 0;
    font-size: 100%;
}

#social li {
    display: inline;
    padding-right: 10px;
}

/* responsive design - medium max-width 1007px*/
@media screen and (max-width: 1007px) {

    header, footer {
        min-height: 40px;
    }

    #logo {
        font-size: 150%;
    }

    #menu, #social {
        font-size: 75%;
    }

    #hero-image {
        height: 300px;
    }

    #intro {
        position: absolute;
        top: 275px;
    }
    
    #intro h2 {
        margin-left: 10px;
        font-size: 125%;
    }
    
    #intro p {
        margin-left: 10px;
        font-size: 75%;
    }
}

/* responsive design - small - max-width 640px*/
@media screen and (max-width: 640px) {
    header, footer {
        min-height: 40px;
    }

    #logo {
        font-size: 120%;
        position: absolute;
        top: 2px;
        left: 2px;
        padding-left: 0;
    }

    #menu, #social {
        font-size: 75%;
        position: absolute;
        bottom: 2px;
        left: 2px;
    }

    #hero-image {
        height: 200px;
    }

    #hero-image-left, #hero-image-right {
        float: none;
        width: 100%;
        height: 100%;
    }

    #intro {
        position: absolute;
        top: 225px;
        left: 5%;
        width: 90%;
        height: 50px;
    }
    
    #intro h2 {
        font-size: 100%;
        padding-top: 7px
    }
    
    #intro p {
        font-size: 75%;
    }
    
}