@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/* general styling */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    background-color: black;
    color: white;
}

/* headings */
h1,
h2,
h3 {
    text-transform: uppercase;
}

/* header and footer */
header, footer {
    position: relative;
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 139, 0.7);
}

header a,
footer a {
    text-decoration: none;
    color: white;
}

.logo {
    position: absolute;
    top: 2px;
    left: 4px;
    font-size: 125%;
}

#menu,
#social {
    position: absolute;
    bottom: 2px;
    left: 4px;
    font-size: 75%;
}

#menu li,
#social li {
    display: inline;
    padding-right: 4px;
}

/* hero image */
#hero-image {
    height: 300px;
    width: 100%;
    background: url(../images/monopoly.jpeg) no-repeat bottom/cover;
}

/* Welcome */
#welcome {
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 139, 0.7);
    text-align: right;
}

#welcome h2 {
    padding-right: 4px;
    padding-bottom: 5px;
    font-size: 120%;
}

#welcome p {
    padding-right: 4px;
}

/* club information */
#info {
    position: relative;
    height: 700px;
}

#info h3 {
    padding: 0px 4px 5px;
    padding-bottom: 5px;
    font-size: 120%;
}

#info p {
    padding: 0px 4px;
    font-size: 80%;
}

.info-text {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 139, 0.7);
    width: 100%;
    height: 80px;
    margin: 120px 0px 0px;
    border-radius: 0px 0px 40px 0px;
}

#info-container-games {
    position: relative;
    height: 200px;
    border: 10px solid rgba(0, 0, 139, 0.7);
    border-radius: 0px 50px 50px 0px;
    background: black url(../images/nintendo-controller.jpeg) no-repeat center/cover;
    margin: 10px 0px;
}

#info-container-social {
    position: relative;
    height: 200px;
    border: 10px solid rgba(0, 0, 139, 0.7);
    border-radius: 0px 50px 0px 50px;
    background: url(../images/gamers-social.jpeg) no-repeat center/cover;
    margin: 10px 0px;
}

#info-container-skills {
    position: relative;
    height: 200px;
    border: 10px solid rgba(0, 0, 139, 0.7);
    border-radius: 50px 0px 0px 50px;
    background: url(../images/gamers-skills.jpeg) no-repeat center/cover;
    margin: 10px 0px;
}

#info-social-text {
    text-align: center;
    margin: 120px 0px 0px;
    border-radius: 0px 0px 0px 40px;
}

#info-skills-text {
    text-align: right;
    margin: 120px 0px 0px;
    border-radius: 0px 0px 0px 40px;
}

/* events */
#events {
    height: 1100px;
}

#weekly-events-container {
    position: relative;
    height: 500px;
    border: 10px solid rgba(0, 0, 139, 0.7);
    border-radius: 0px 50px 50px 0px;
    background: url(../images/pc-gaming.jpeg) no-repeat bottom/cover;
    margin: 10px 0px;
}

#weekly-events-text {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 139, 0.7);
    width: 100%;
    height: 250px;
    border-radius: 0px 0px 40px 0px;
}

#monthly-events-container {
    position: relative;
    height: 500px;
    border: 10px solid rgba(0, 0, 139, 0.7);
    border-radius: 50px 0px 0px 50px;
    background: url(../images/group-playing-twister.jpeg) no-repeat bottom/cover;
    margin: 10px 0px;
}

#monthly-events-text {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 139, 0.7);
    width: 100%;
    height: 250px;
    border-radius: 0px 0px 0px 40px;
    text-align: right;
}

/* responsive design medium devices - width 769px to 1007px*/
@media screen and (min-width: 769px) {

    /* header and footer */
    .logo {
        font-size: 175%;
    }

    #menu,
    #social {
        position: absolute;
        bottom: 2px;
        right: 0px;
        left: auto;
        font-size: 100%;
    }

    /* hero image */
    #hero-image {
        background: url(../images/monopoly-large.jpeg) no-repeat center/cover;
    }

    /* Welcome */
    #welcome {
        position: relative;
        width: 100%;
        background-color: rgba(0, 0, 139, 0.7);
        text-align: center;
    }

    #welcome h2 {
        font-size: 170%;
    }

    /* club information */
    #info {
        height: 700px;
    }

    #info h3 {
        font-size: 150%;
    }

    #info p {
        font-size: 90%;
    }

    #info-container-games {
        width: 70%;
    }

    #info-container-social {
        width: 70%;
        border-radius: 50px 50px 50px 50px;
        margin: 0 15%;
    }

    #info-container-skills {
        width: 70%;
        border-radius: 50px 0px 0px 50px;
        float: right;
    }

    #info-social-text {
        text-align: center;
        margin: 120px 0px 0px;
        border-radius: 0px 0px 40px 40px;
    }

    #info-skills-text {
        text-align: right;
        margin: 120px 0px 0px;
        border-radius: 0px 0px 0px 40px;
    }

    /* events */
    #weekly-events-container {
        width: 70%;
    }

    #monthly-events-container {
        width: 70%;
        float: right;
    }
}

/* responsive design large devices - width 1008px and up*/
@media screen and (min-width: 1008px) {

    /* header and footer */
    .logo {
        font-size: 225%;
    }

    #menu,
    #social {
        font-size: 125%;
    }

    /* hero image */
    #hero-image {
        height: 400px;
    }

    /* Welcome */
    #welcome {
        height: 75px;
    }

    #welcome h2 {
        font-size: 225%;
    }

    #welcome p {
        font-size: 125%;
    }

    /* club information */
    #info {
        position: relative;
        height: 700px;
    }

    #info-container-games {
        width: 60%;
    }

    #info-container-social {
        width: 60%;
        margin: 0 20%;
    }

    #info-container-skills {
        width: 60%;
    }

    /* events */
    #events {
        height: 550px;
    }

    #weekly-events-container {
        height: 500px;
        width: 45%;
        float: left;
    }
    
    #weekly-events-text {
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 139, 0.7);
        width: 100%;
        height: 250px;
        border-radius: 0px 0px 40px 0px;
    }
    
    #monthly-events-container {
        height: 500px;
        width: 45%;
    }
    
    #monthly-events-text {
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 139, 0.7);
        width: 100%;
        height: 250px;
        border-radius: 0px 0px 0px 40px;
        text-align: right;
    }
}